@model ViewModelEnhancer.Models.Location

@{
    ViewBag.Title = "Location";
}

<h2>Welcome to @Model.Name</h2>


<h3>"@Model.Description"</h3>

<br />

The weather in @Model.Name on @Model.Date.ToString("dddd, dd MMMM yyyy") is: @( string.IsNullOrWhiteSpace(Model.Weather) ? "unknown" : Model.Weather )

<br />
<br />

There are currently @Model.Comments.Count() comments about @Model.Name

<ul>
    @foreach (var comment in Model.Comments)
    {
        <li>@comment</li>
    }
</ul>